<h2>
  Create your own account
</h2>
<div class="center">
  <form>
    <div class="fieldset">
      <label>Email</label>
      <input [(ngModel)]="user.email" name="email" (keyup)="setError()" />
    </div>
    <div class="fieldset">
      <label>Password</label>
      <input type="password" [(ngModel)]="user.password" name="password" (keyup)="setError()" />
    </div>
    <div class="fieldset">
      <label>Password confirmation</label>
      <input type="password" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" (keyup)="setError()" />
    </div>
    <div>
      <button (click)="signup()">Sign up</button>
    </div>
    <div class="error">{{error}}</div>
  </form>
</div>
