* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
}

a, a:visited, a:hover {
  color: #606060;
  text-decoration: underline;
  font-weight: bold;
}

button {
  border: 0;
  background-color: #a7abf6;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
  color: #202020;
  font-size: 16px;
}

button:hover {
  background-color: #babdf7;
}

.center {
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

form {
  display: inline-block;
}

.fieldset {
  margin: 3px 0;
}

input {
  border: 1px solid #D0D0D0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
}
